[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pydantic = "*"
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"
